:root {
  --font-color: #434455;
  --main-background: #fff;
  --accent-color: #2e2f42;
}

/* Base styles */

body {
  font-family: 'Roboto', sans-serif;
  background: var(--main-background);
  color: var(--font-color);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.card-set-item {
  flex-basis: calc((100% - 24 * 2) / 3);
}
/* Logo */

.logo {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: var(--navyblue, #2e2f42);
  margin-right: 76px;
  padding-top: 25.5px;
  padding-bottom: 25.5;
}

.logo-white {
  color: var(--cloud, #f4f4fd);
}

/* Header styles */

.header {
  border-bottom: 1px solid, #e7e9fc;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .nav {
  display: flex;
}

.nav-page {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-page:hover,
.nav-page:focus,
.nav-page:active {
  color: var(--ocean, #404bbf);
}

.contact {
  font-style: normal;
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-left: 332px;
}
.contact-mail {
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--ocean, #404bbf);
}
.nav .list,
.contact .list {
  display: flex;
  gap: 40px;
}
/* Main styles */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
/*  Hero */

.hero {
  background: var(--accent-color);
}
.hero-title {
  width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  padding-top: 188px;
  padding-left: auto;
  padding-right: auto;
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  background: var(--iris, #4d5ae5);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: var(--white, #fff);
  cursor: pointer;
  display: inline-flex;
  border-radius: 4px;
  margin: 0 auto 108px auto;
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean, #404bbf);
}
/* Qualities */
.qualities {
  background: #fff;
}
.qualities-list {
  display: flex;
  gap: 24px;
}

.qualities-list-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.qualities-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.qualities-title-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* Work */
.work {
  background: #fff;
}
.work-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}

.work-img {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Team */
.team {
  background: var(--cloud, #f4f4fd);
}

.list-item {
  background: var(--white, #fff);
}
.team-img {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}
.team-subtitle {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
/* Footer */
.footer {
  background: var(--navyblue, #2e2f42);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
}
/* Portfolio */
.portfolio-container {
  display: flex;
  justify-content: center;
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}
